*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    color: rgb(46, 46, 46);

    background-image: linear-gradient(50deg, #ff892c 0, #ff7936 12.5%,
     #ff693e 25%, #ff5843 37.5%, #f94646 50%, #e83548 62.5%, 
     #d7244a 75%, #c8124c 87.5%, #ba004e 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    margin: 20px;
    display: inline-block;
    padding: 0;
    font-size: 20px;
}
a{
    
text-decoration-line: underline;
    color: rgb(46, 46, 46);
}
a:hover{
    color: rgb(110, 74, 74)
}
main{
    gap: 60px;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    margin-top: 50px;
}

main h1{
    font-size: 55px;
    line-height: 1;
   
}
img{
    width: 400px;
    border-radius: 50%;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    outline: 0;
    gap: 15px;
}
input{
    margin-top: 1px;
    height: 50px;
    outline: 0;
    border-radius: 15px;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}
#enviar{
    background-color: rgb(104, 78, 104);
    height: 65px;
    width: 65%;
    color: white;
    font-size: large; 
}
#enviar:hover{
    background-color: rgb(160, 114, 160);
    cursor: pointer;
    color:white
}

main p{
    margin-bottom: 20px;
    margin-top: 20px;
}   

#topo {
   font-size: 30px;
   color: rgb(46, 46, 46);
}
#topo2 {
    font-size: 40px;
    color: rgb(46, 46, 46);
 }